.container {
  text-align: center;
  padding: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
}

canvas {
  width: 100% !important;
  max-width: 900px !important;
  height: auto !important;
  max-height: 500px !important;
  margin: 0 auto;
  display: block;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    font-family: Arial, sans-serif;
}